apiVersion: apps/v1
kind: Deployment
metadata:
  name: course-ui
spec:
  template:
    spec:
      containers:
        - name: course-ui
          env:
            - name: REACT_APP_API_URL
              value: "https://api.bi-course.com"
          resources:
            requests:
              memory: "256Mi"
              cpu: "200m"
            limits:
              memory: "512Mi"
              cpu: "500m"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
spec:
  template:
    spec:
      containers:
        - name: auth-service
          resources:
            requests:
              memory: "1Gi"
              cpu: "500m"
            limits:
              memory: "2Gi"
              cpu: "1000m"
